[ req ]
distinguished_name = dn
req_extensions = v3_req
prompt = no

[ dn ]
CN = raspi6

[ v3_req ]
basicConstraints = critical,CA:false
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = raspi6
DNS.2 = *.raspi6
DNS.3 = raspi6.local
DNS.4 = *.raspi6.local
DNS.5 = mqtt-broker
DNS.6 = mqtt_broker
IP.1 = 192.168.1.9
