[ req ]
distinguished_name = dn
req_extensions = v3_req
prompt = no

[ dn ]
CN = hmip2mqtt

[ v3_req ]
basicConstraints = critical,CA:false
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth
